.footer {
  padding: 60px 80px;
  background-color: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: #ffffff;
  box-sizing: border-box;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #0a2850;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  margin-bottom: 16px;
}

.footer__list-item:last-of-type {
  margin-bottom: 0;
}

.footer__logo {
  width: 105px;
  height: 39px;
  padding: 0 80px;
}

.footer__social-heading {
  margin: 0 0 20px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 700;
  color: #ffffff;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.footer__social-link {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  opacity: 70%;
  transition: smooth;
}

.footer__copyright {
  margin: 108px 0 0;
  padding: 80px;
  background-color: #0a2850;
  color: #ffffff;
  padding: 80px;
}
