.form {
  max-width: 385px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__input {
  display: block;
  margin-top: 8px;
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  border: 1px solid #838383;
  border-radius: 4px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000;
}

.form__input::placeholder {
  color: #838383;
}

.form__label {
  margin-bottom: 32px;
  display: block;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.form__button {
  width: 100%;
  padding: 20px 0;
  margin-bottom: 32px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background-color: #1878dc;
  border-radius: 4px;
  border: 0;
}

.form__button:hover {
  background-color: #3f96f3;
  transition: background-color 0.5s smooth;
}

.form__checkbox {
  margin: 0 12px;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: #1878dc;
  background-image: url(../images/check.svg);
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  margin: 0;
}
