.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-weight: 500;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: -50px;
}

.nav__links {
  display: flex;
  align-items: center;
  column-gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: #000;
  text-decoration: none;
}

.nav__link:hover {
  opacity: 50%;
  transition: opacity 0.5s smooth;
}
